body{
    text-align: center;
    font-family: Courier;
    color:#333;
    font-size: 16px;
    margin: auto;
}
.rama{
    width: 70%;
    border: 1px solid red;
    margin: auto;
}
h1{
    color:blue;
    font-size: 60px;
}